@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 118, 153; /* #007699 converted to RGB */
  --background-rgb: 232, 243, 208; /* #e8f3d0 converted to RGB */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}